.below-nav {
    padding-top: 6rem;
}

.centered-div{
    display: flex;
    justify-content:center; 
    align-items:center;
    height: 100%;
}

.footer {
    background-color: #343a40 ;
    bottom: 0;
    height: 10rem;
    margin-top: 5rem;
}

.center-modal{
    margin-inline: 2rem;
}

.mail-link:hover{
    text-decoration: underline;
    color: #007bff;
}

@media (min-width: 1500px) {
    .mx-xxl-10 {
      margin-inline: 10rem !important;
    }
}
